{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="{% static 'css/product_detail.css' %}"> -->
	<link rel="stylesheet" href="{% static 'css/product_description.css' %}">
	<link rel="stylesheet" href="{% static 'css/product_video.css' %}">
	<link rel="stylesheet" href="{% static 'css/product_photos.css' %}">
	<link rel="stylesheet" href="{% static 'css/cart.css' %}">
	<link rel="stylesheet" href="{% static 'css/exchange.css' %}">
	<link rel="stylesheet" href="{% static 'css/product_reviews.css' %}"> 
	<link href="https://fonts.googleapis.com/css?family=Exo+2:200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title></title>

</head>
<body>	
	<header>
		<div class="menu">
			<a class="menu-btn" href="#">
				<span class="menu-lines"></span>
			</a> 
			<nav class="menu-nav">
				<a href="/" class="menu-link">Головна</a>
				<a href="#" class="menu-link">Каталог</a>
				<ul class="catalog">
					{% for category in categories %}
					<li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
					{% endfor %}
				</ul>				
				<a href="#" class="menu-link">Уподобання</a>
				<a href="#" class="menu-link">Порівняння</a>
			
			</nav>

			<div class="menu-overlay"></div>

		</div>
		<div class="name">
			<h1>GALAXY</h1>
			<p>SHOP.ua</p>
		</div>
		<div class="icon_menu">
			<div class="search-box">
				<input class="search-txt" type="text" name="" placeholder="Пошук...">
				<a href="#" class="search-btn"><i class="fas fa-search"></i></a>
			</div>
			<div class="cart_and_user">
				<a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i><span class="badge" id="cart_count">{{ cart.items.count }}</span></a>
				<a href='{% url "login" %}'><img src="{% static 'icon/user_back.png' %}" class="user flexible-image"></a>
			</div>
		</div>
	</header>


	{% block content %}
	
   	{% endblock %}

	
		<div class="footer">
			<div class="other_link">
				<div class="company">
					<h2>КОМПАНІЯ</h2>
					<hr>
					<li>
						<ul><a href="../../../../../#about_us">Про нас</a></ul>
						<ul><a href="../../../../../#contacts">Контакти</a></ul>
						<ul><a href="../../../../../gift/">Подарунковий сертифікат</a></ul>
					</li>
					<p>Copyright © 2019— GALAXY.shop.ua</p>
				</div>
				<div class="information">
					<h2>ІНФОРМАЦІЯ ПРО ЗАМОВЛЕННЯ</h2>
					<hr>
					<li>
						<ul><a href="../../../../../delivery/">Умови доставки</a></ul>
						<ul><a href="../../../../../exchange/">Повернення / обмін</a></ul>
						<ul><a href="../../../../../payment/">Оплата</a></ul>
					</li>
				</div>
			</div>
			<div class="about_us_footer">
				<p>Ми пропонуємо широкий асортимент електроніки, побутової техніки і різних споживчих товаров. Наша завдання полягає не тільки в тому, щоб просто продати потрібний товар, але і в тому, щоб інформувати і просвіщати покупця. Для цього ми знімаємо відеоогляди новинок, готуємо статті і новини. Озброївшись всебічною інформацією про цікавий пристрій і його головних конкурентів, ви зможете самостійно прийняти зважене рішення про покупку саме того товару, який вам потрібен.
				Моб. телефон: +380-123-456-789, Skype: galaxyinfo, Youtube: galaxyshop</p>
			</div>
		</div>

	
<script src="{% static 'JavaScript/jquery.js'%}"></script>
<script type="text/javascript" src="{% static 'JavaScript/script.js' %}"></script>
<script>
$(document).ready(function(){
	$('.add_to_cart').on('click', function(e){
		e.preventDefault()
		product_slug = $(this).attr('data-slug')
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: '{% url "add_to_cart" %}',
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
			}
		})
	})
})
</script>
</body>
</html>