{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Exo+2:200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title></title>

</head>
<body>	
	<header>
		<div class="menu">
			<a class="menu-btn" href="#">
				<span class="menu-lines"></span>
			</a> 
			<nav class="menu-nav">
				<a href="/" class="menu-link">Головна</a>
				<a href="/catalog" class="menu-link">Каталог</a>
				<ul class="catalog">
					{% for category in categories%}
					<li><a href="">{{ category.name }}</a>
					</li>
					{% endfor %}
				</ul>				
				<a href="/" class="menu-link">Уподобання</a>
				<a href="#" class="menu-link">Порівняння</a>
			
			</nav>

			<div class="menu-overlay"></div>

		{% block content %}
	
   		{% endblock %}









		</div>
		<div class="name">
			<h1>GALAXY</h1>
			<p>SHOP.ua</p>
		</div>
		<div class="icon_menu">
			<div class="search-box">
				<input class="search-txt" type="text" name="" placeholder="Пошук...">
				<a href="#" class="search-btn"><i class="fas fa-search"></i></a>
			</div>
			<div class="cart_and_user">
				<a href="#"><i class="fas fa-shopping-cart"></i></a>
				<a href="#"><img src="{% static 'icon/user_back.png' %}" class="user flexible-image"></a>
			</div>
		</div>
	</header>



	
		<div class="footer">
			<div class="other_link">
				<div class="company">
					<h2>КОМПАНІЯ</h2>
					<hr>
					<li>
						<ul><a href="#about_us">Про нас</a></ul>
						<ul><a href="#contacts">Контакти</a></ul>
						<ul><a href="shares/">Акції</a></ul>
					</li>
					<p>Copyright © 2019— GALAXY.shop.ua</p>
				</div>
				<div class="information">
					<h2>ІНФОРМАЦІЯ ПРО ЗАМОВЛЕННЯ</h2>
					<hr>
					<li>
						<ul><a href="delivery/">Умови доставки</a></ul>
						<ul><a href="exchange/">Повернення / обмін</a></ul>
						<ul><a href="payment/">Оплата</a></ul>
					</li>
				</div>
			</div>
			<div class="about_us_footer">
				<p>Ми пропонуємо широкий асортимент електроніки, побутової техніки і різних споживчих товаров. Наша завдання полягає не тільки в тому, щоб просто продати потрібний товар, але і в тому, щоб інформувати і просвіщати покупця. Для цього ми знімаємо відеоогляди новинок, готуємо статті і новини. Озброївшись всебічною інформацією про цікавий пристрій і його головних конкурентів, ви зможете самостійно прийняти зважене рішення про покупку саме того товару, який вам потрібен.
				Моб. телефон: +380-123-456-789, Skype: galaxyinfo, Youtube: galaxyshop</p>
			</div>

		</div>

	
	<script
  src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>	
	<script type="text/javascript" src="{% static 'JavaScript/script.js' %}"></script>
</body>
</html>