{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="exchange-page">	
	<div class="title-exchange">
		<h1 class="text-exchange" >Правила повернення / обміну</h1>
	</div>
	<div class="exchange-rules">
		<h2 class="exchange-rules-title">Повернення товару здійснюється згідно «Закону про захист прав споживача». Ви можете повернути або обміняти товар протягом 14 днів з моменту отримання за умови:</h2>
		<ul type="disc">
			<li>Товарного вигляду виробу, без слідів використання і експлуатації;</li>
			<li>Цілісності оригінальної упаковки зі збереженням всіх ярликів і бирок;</li>
			<li>Наявність документів, що підтверджують покупку товару;</li>
		</ul>
	</div>
	<div class="exchange-return">
		<h2 class="exchange-return-title">Процедура Повернення:</h2>
		<ul type="disc">
			<li>Переконайтеся, що товар, що повертається відповідає умовам повернення / обміну;</li>
			<li>Зв'яжіться з нами, щоб менеджер магазину вислав Вам дані, куди необхідно повертати товар; повернути / обміняти товар Ви можете за тією ж Товарно-траспортної накладної, по якій він був отриманий. На Новій пошті при собі необхідно мати товар, що повертається, що відповідає умовам, внутрішній чек і Товарно-транспортну накладну.</li>
			<li>Заповніть «Форму Повернення»;</li>
			<li>Повернення грошових коштів відбувається протягом 7 банківських днів, з моменту отримання товару, який підлягає поверненню;</li>
			<li>Повернення проводиться за рахунок покупця.</li>
		</ul>
	</div>
	<div class="exchange-exchange">
		<h2 class="exchange-exchange-title">Процедура обміну:</h2>
		<ul type="disc">
			<li>Переконайтеся, що товар, що повертається відповідає умовам повернення / обміну;</li>
			<li>Зв'яжіться з нами, щоб менеджер магазину вислав Вам дані, куди необхідно повертати товар; повернути / обміняти товар Ви можете за тією ж Товарно-траспортної накладної, по якій він був отриманий. На Новій пошті при собі необхідно мати товар, що повертається, що відповідає умовам, внутрішній чек і Товарно-транспортну накладну.</li>
			<li>Оформіть нове замовлення самостійно або з менеджером магазину, на товар, який Вас цікавить;</li>
			<li>Протягом дня, очікуйте дзвінок менеджера, для підтвердження наявності товару;</li>
			<li>Обмін товару відбувається протягом 3-5 днів, з моменту отримання нами товару;</li>
			<li>Якщо вартість товару (замовлення) становить менш як 1500 грн, обмін проводиться за рахунок покупця;</li>
			<li>Якщо вартість товару (замовлення) становить понад 1500 грн, відправка товару в нашу сторону проводиться за рахунок покупця. В сторону покупця, за рахунок магазину.
			</li>
		</ul>
	</div>
	<div class="exchenge-money">
		<h2 class="exchenge-money-title">Грошові кошти за Повернення товару Ви можете отримати:</h2>
		<ul type="disc">
			<li>На банківську картку «Visa / MasterCard». Необхідно заповнити «Форму Повернення»;</li>
			<li>На Новій Пошті. При цьому повернення коштів, всі витрати з пересилання і поверненню платежу, виробляється за рахунок покупця;</li>
			<li>Кур'єрською службою (в межах міста Львів) - готівкою.</li>
		</ul>
	</div>
	<div class="form">
		<label class="type">П.І.Б*</label><input type="text" size="100" maxlength="25">
		<label class="type">Ваш E-mail</label><input type="text" size="100" maxlength="25">
		<label class="type">Контактний телефон*</label><input type="text" size="100" maxlength="25">
		<label class="type">№ Замовлення*</label><input type="text" size="100" maxlength="25">
		<label class="type">Сума, грн*</label><input type="text" size="100" maxlength="25">
		<label class="type">П.І.Б*</label><input type="text" size="100" maxlength="25">
		<button class="type" style="width:100px; height:30px;">Відправити</button>
	</div>
</div>
{% endblock content %}