{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/gift.css' %}">

<div class="certificate">
	<h1 class="certificate-title">Подарунковий сертифікат</h1>
	<h4>Подарунковий сертифікат, безсумнівно, є одним з найшвидших і зручних способів зробити незабутній подарунок Вашим близьким і рідним. Зробивши вибір на користь подарункового сертифіката, Ви стовідсотково потрапите в ціль, адже щасливий володар такого виду подарунка зможе вибрати саме те, що йому потрібно.</h4>
	<h4>Сертифікат в подарунок Galaxyshop.ua - це попередня оплата, за допомогою якої можна придбати будь-який товар з асортименту нашого інтернет-магазину.</h4>
	<h4>Тепер, щоб зробити найоригінальніший, приємний і несподіваний сюрприз своїм близьким, Вам достатньо лише визначитися з номіналом - Galaxyshop.ua пропонує подарункові сертифікати на суми 500, 1000 і 2000 грн. Придбати їх можна <a href="#">тут</a>.</h4>
</div>
<div class="rules">
	<h2 class="rules-title">Правила використання подарункового сертифіката:</h2>
	<ol>
		<li>Подарунковий сертифікат не є іменним, тому в разі втрати він не підлягає відновленню в зв'язку з неможливістю встановити особу власника.</li>
		<li>При оплаті замовлення за допомогою сертифіката обов'язково вкажіть це на етапі оформлення (впишіть номер сертифіката в коментарях) і повідомте менеджеру при підтвердженні замовлення (надішліть фото сертифіката). Сертифікат повинен бути пред'явлений і переданий при оплаті товару, або відправлений Новою поштою при отриманні посилки.</li>
		<li>Термін дії сертифіката становить 6 місяців з дати видачі.</li>
		<li>Якщо вартість покупки менше номіналу сертифіката, різниця між вартістю не повертається.</li>
		<li>Якщо вартість покупки перевищує номінал, різниця між вартістю товару і номіналом сертифікату оплачується готівкою.</li>
		<li>Сертифікат не може бути використаний для отримання готівкових коштів.</li>
		<li>Якщо ви отримали сертифікат за участь в акції "+ сертифікат в подарунок", то його можна використовувати при Наступному замовленні, після отримання сертифіката на руки. При поверненні товару, за який було отримано сертифікат в подарунок по акції, необхідно повернути і подарований сертифікат, або він анулюється.</li>
	</ol>
</div>
{% endblock content %}