{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/main_page.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Exo+2:200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title></title>
</head>
<body>
	
	<button id="scrollToTopButton" onclick="scrollToTop(300,3);"><i class="fa fa-arrow-up"></i></button>
	<div onclick="show('none')" id="gray"></div>
	<div id="window">
    <!-- Картинка крестика -->
    <img class="close" src="i/close.png" alt=""  onclick="show('none')">
    	<div class="form">
        	<div class="exit">
            	<h2>Вхід</h2>
            	<p>Вже наш клієнт?</p>
            	<hr>
            	<div>
                	<form method="post">
                	{% csrf_token %}
                	{{ form.as_p }}
                	<button type="submit">Login</button>
                	</form>
            	</div>
        	</div>
        <div class="registration">
            <h2>Новий аккаунт</h2>
            <p>Ще не зареєстровані?</p>
            <div>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
                </form>
            </div>
        </div>

    	</div>
	</div>


	<header>
		<div class="header_upper">
			<div class="header_left">
				<img src="{% static 'icon/phone-call_white.png' %}">
				<p class="phone_number">+380-98-328-8530</p>
				<p class="free">Безкоштовна доставка при замовленні від 699 грн</p>
			</div>
			<div class="header_right">
				<a href="#"><img src="{% static 'icon/moon_white.png' %}"></a>
				<p><a href="#">ua</a></p>
				<img onclick="show('block')" src="{% static 'icon/user_white.png' %}">
			</div>
		</div>
		<div class="name">
			<div class="title_name">
				<h1>GALAXY</h1>
				<hr>
				<h2>НАЙКРАЩІ ТОВАРИ ВІД СВІТОВИХ БРЕНДІВ</h2>
			</div>
			<div class="icon_name">
				<a href="/cart/"><img src="{% static 'icon/cart_white.png' %}"></a>
				<a href="#"><img src="{% static 'icon/like_white.png' %}"></a>
				<a href="#"><img src="{% static 'icon/bar-chart_white.png' %}"></a>
			</div>
		</div>

	</header>

	<div class="catalog">
		<div class="title_catalog">
			<h1>Каталог</h1>
		</div>
		<div class="category_catalog">
			<ul>
				<li><a href="#">Електроніка</a></li>
				<li><a href="#">Побутова техніка</a></li>
				<li><a href="#">Одяг і взуття</a></li>
				<li class="by"><a href="#">Б/у</a></li>
			</ul>
			<a href="#" ><img src="{% static 'icon/magnifying-glass.png' %}"></a>
		</div>
	</div>

	<div id="slider">
		<img src="{% static 'icon/redmi_slider.jpg' %}">
		<img src="{% static 'icon/iphone_slider.jpg' %}">
		<img src="{% static 'icon/samsung_slider.jpg' %}">
	</div>

	<div class="hits">
		<div class="title_hits">
			<img src="{% static 'icon/title_hits.png' %}">
		</div>
		<div class="hits_product_list">
			{% for product in products %}
			<div class="product"> 
				<div class="product-image">
					<a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}"></a>
				</div>
				<a href="{{ product.get_absolute_url }}"><h2>{{ product.title }}</h2></a>
				<div class="hits_product_stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
				</div>
				<p class="price_title">{{ product.price }}грн.</p>
				<div class="icons_product">
					<div class="cart">
						<a href="#"><img src="{% static 'icon/cart_green.png' %}"></a>
						<a href="#"><p>В КОРЗИНУ</p></a>
					</div>
					<div class="right_icons_product">
						<img src="{% static 'icon/bar-chart.png' %}">
						<img src="{% static 'icon/like.png' %}">
					</div>
				</div>
			</div>
			{% endfor %}


		</div>
	</div>

	<div class="recomendation">
		<div class="title_recomendation">
			<h1>РЕКОМЕНДАЦІЇ</h1>
		</div>
		<div class="hits_product_list">
			<div class="product"> 
				<img src="{% static 'icon/product_icon.png' %}">
				<h2>Apple iPhone 8 (PRODUCT)RED™ Special Edition 64GB</h2>
				<div class="hits_product_stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
				</div>
				<p class="price_title"><b>17 777 грн.</b> <s>19 999 грн.</s></p>
				<div class="icons_product">
					<div class="cart">
						<img src="{% static 'icon/cart_green.png' %}">
						<p>В КОРЗИНУ</p>
					</div>
					<div class="right_icons_product">
						<img src="{% static 'icon/bar-chart.png' %}">
						<img src="{% static 'icon/like.png' %}">
					</div>
				</div>
			</div>
			<div class="product"> 
				<img src="{% static 'icon/product_icon.png' %}">
				<h2>Apple iPhone 8 (PRODUCT)RED™ Special Edition 64GB</h2>
				<div class="hits_product_stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
				</div>
				<p class="price_title"><b>17 777 грн.</b> <s>19 999 грн.</s></p>
				<div class="icons_product">
					<div class="cart">
						<img src="{% static 'icon/cart_green.png' %}">
						<p>В КОРЗИНУ</p>
					</div>
					<div class="right_icons_product">
						<img src="{% static 'icon/bar-chart.png' %}">
						<img src="{% static 'icon/like.png' %}">
					</div>
				</div>
			</div>
			<div class="product"> 
				<img src="{% static 'icon/product_icon.png' %}">
				<h2>Apple iPhone 8 (PRODUCT)RED™ Special Edition 64GB</h2>
				<div class="hits_product_stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
				</div>
				<p class="price_title"><b>17 777 грн.</b> <s>19 999 грн.</s></p>
				<div class="icons_product">
					<div class="cart">
						<img src="{% static 'icon/cart_green.png' %}">
						<p>В КОРЗИНУ</p>
					</div>
					<div class="right_icons_product">
						<img src="{% static 'icon/bar-chart.png' %}">
						<img src="{% static 'icon/like.png' %}">
					</div>
				</div>
			</div>
			<div class="product"> 
				<img src="{% static 'icon/product_icon.png' %}">
				<h2>Apple iPhone 8 (PRODUCT)RED™ Special Edition 64GB</h2>
				<div class="hits_product_stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
				</div>
				<p class="price_title"><b>17 777 грн.</b> <s>19 999 грн.</s></p>
				<div class="icons_product">
					<div class="cart">
						<img src="{% static 'icon/cart_green.png' %}">
						<p>В КОРЗИНУ</p>
					</div>
					<div class="right_icons_product">
						<img src="{% static 'icon/bar-chart.png' %}">
						<img src="{% static 'icon/like.png' %}">
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="about_us" id="about_us">
		<div class="title_about_us">
			<h1>Про нас</h1>
			<p>ЧОМУ МИ?</p>
		</div>
		<div class="info_about_us">
			<div class="number">
				<h3 class="first">1</h3>
				<h2>Кількість</h2>
				<p>Асортимент сайту постійно оновлюється: наші співробітники уважно стежать за оновленнями, новинками, акційними пропозиціями. </p>
			</div>
			<div class="price">
				<h3>2</h3>
				<h2>Ціна</h2>
				<p>Конкурентні ціни, власний сервісний центр, досвідчені консультанти і надійна доставка - зроблять роботу з нами найбільш приємною.</p>
			</div>
			<div class="quality">
				<h3>3</h3>
				<h2>Якість</h2>
				<p>Ми впевнені в якості товарів, які Вам пропонуємо, тому на всі позиції надаємо особисту гарантію, не залежно від гарантії виробника: від 14 днів до 12 місяців.</p>
			</div>
			<div class="charity">
				<h3>4</h3>
				<h2>Благодійність</h2>
				<p>Інтернет-магазин GALAXY перераховує частину прибутку в благодійні організації, які виступають за розвиток спорту, здорового способу життя та дбайливого ставлення до природи</p>
			</div>
		</div>
	</div>

	<div class="reviews">
		<div class="title_reviews">
			<h1>ВІДГУКИ</h1>
			<hr>
		</div>
		<div class="user_reviews">
			<div class="user_response">
				<img src="{% static 'icon/photo_user.jpg' %}">
				<h3>АНДРІЙ</h3>
				<div class="stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
				</div>	
				<p>Дуже красивий та зручний сайт. 
						Рекомендую його!</p>
			</div>

			<div class="user_response">
				<img src="{% static 'icon/photo_user.jpg' %}">
				<h3>АНДРІЙ</h3>
				<div class="stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
				</div>	
				<p>Дуже красивий та зручний сайт. 
						Рекомендую його!</p>
			</div>

			<div class="user_response">
				<img src="{% static 'icon/photo_user.jpg' %}">
				<h3>АНДРІЙ</h3>
				<div class="stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
				</div>	
				<p>Дуже красивий та зручний сайт. 
						Рекомендую його!</p>
			</div>

			<div class="user_response">
				<img src="{% static 'icon/photo_user.jpg' %}">
				<h3>АНДРІЙ</h3>
				<div class="stars">
					<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
				</div>	
				<p>Дуже красивий та зручний сайт. 
						Рекомендую його!</p>
			</div>

		</div>
		<div class="rate_us">
			<div class="rate_us_textarea">
				<h2>Оцініть нас!</h2>
				<textarea placeholder="Текст..." rows="6" cols="60"></textarea>
			</div>
			<div class="info_about_user">
				<h3>ІМ'Я</h3>
				<input type="text" placeholder="Username">
				<h3>ПОЧТА</h3>
   				<input type="email" placeholder="Email">
   				<div class="rate_stars">
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				 <input type="submit" value="Відправити">
			</div>
		</div>
	</div>

	
	<div class="contacts" id="contacts">
		<div class="contacts_title">Контакти</div>
		<hr>
		<div class="contacts_info">	
			<div class="contacts_email">
				<div class="img"><img src="{% static 'icon/email.png' %}"> </div>
				<h2>Email:</h2>
				<p>support@galaxy.shop</p>
			</div>
			<div class="contacts_telephone">
				<img src="{% static 'icon/tel_icon.png' %}"> 
				<h2>Telephone:</h2>
				<p>+380 98 328 8530 <br> + 380 67 892 8630</p>
			</div>
			<div class="contacts_location">
				<div class="img"><img src="{% static 'icon/adress.png' %}"></div>
				<h2>Location:</h2>
				<p>м. Львів, <br> вул. Наукова 96</p>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer_info">
			<div class="first_info">
				<img src="{% static 'icon/sending.png' %}" >
				<div class="footer_info_text">
					<p class="footer_info_text_big">ВІДПРАВКА <br> ЗАМОВЛЕНЬ</p>
					<p class="footer_info_text_small">ПРОТЯГОМ 2-5 ДНІВ</p>
				</div>
			</div>
			<div class="second_info">
				<img src="{% static 'icon/parcel.png' %}">
				<div class="footer_info_text">
					<p class="footer_info_text_big">ПОВЕРНЕННЯ <br> І ОБМІН</p>
					<p class="footer_info_text_small">14 ДНІВ</p>
				</div>
			</div>
			<div class="third_info">
				<img src="{% static 'icon/app.png' %}" class="img_app_first">
				<div class="footer_info_text">
					<p class="footer_info_text_big">БЕЗКОШТОВНО <br> НА МОБІЛЬНИХ</p>
					<img src="{% static 'icon/android.png' %}" class="img_app">
					<img src="{% static 'icon/apple.png' %}" class="img_app">
				</div>
			</div>
			<div class="fourth_info">
				<img src="{% static 'icon/warantly.png' %}">
				<div class="footer_info_text">
					<p class="footer_info_text_big">ГАРАНТІЯ <br> ЯКОСТІ</p>
					<p class="footer_info_text_small">НА ВСІ ТОВАРИ</p>
				</div>
			</div>
		</div>
		<div id="map"><iframe width="100%" height="500" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23804.673832914992!2d23.98907874318344!3d49.79590086258315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xca1468834bb1dd06!2sSpecialized+secondary+school+%E2%84%9666!5e0!3m2!1sru!2sua!4v1555535977643!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
		<div class="footer">
			<div class="company">
				<h2>КОМПАНІЯ</h2>
				<hr>
				<li>
					<ul><a href="#about_us">Про нас</a></ul>
					<ul><a href="#contacts">Контакти</a></ul>
					<ul><a href="shares/">Акції</a></ul>
				</li>

				<p>Copyright © 2019— GALAXY.shop.ua</p>
			</div>
			<div class="information">
				<h2>ІНФОРМАЦІЯ ПРО ЗАМОВЛЕННЯ</h2>
				<hr>
				<li>
					<ul><a href="delivery/">Умови доставки</a></ul>
					<ul><a href="exchange/">Повернення / обмін</a></ul>
					<ul><a href="payment/">Оплата</a></ul>
				</li>
			</div>
			<div class="about_us_footer">
				<p>Ми пропонуємо широкий асортимент електроніки, побутової техніки і різних споживчих товаров. Наша завдання полягає не тільки в тому, щоб просто продати потрібний товар, але і в тому, щоб інформувати і просвіщати покупця. Для цього ми знімаємо відеоогляди новинок, готуємо статті і новини. Озброївшись всебічною інформацією про цікавий пристрій і його головних конкурентів, ви зможете самостійно прийняти зважене рішення про покупку саме того товару, який вам потрібен.
				Моб. телефон: +380-123-456-789, Skype: galaxyinfo, Youtube: galaxyshop</p>
			</div>

		</div>
	</footer>

	

	<script
  src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>	
	<script type="text/javascript" src="{% static 'JavaScript/script.js' %}"></script>
</body>
</html>