{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">

<div class="payment">
	<h1 class="payment-title">Оплата</h1>
	<h2>Оплатити товари, замовлені через інтернет-магазин Galaxyshop.ua Ви можете:</h2>
	<ul type="disc">
			<li>При отриманні товару у відділенні «Нової Пошти» - оплата готівкою або банківською картою «Visa / MasterCard» (Накладений платіж);</li>
			<li>При отриманні товару на Вашу адресу в зазначеному місті, доставленого кур'єром «Нової Пошти» - оплата готівкою;</li>
			<li>При отриманні товару кур'єрською службою (в межах міста Київ) - оплата готівкою або попередня оплата банківською картою «Visa / MasterCard»;</li>
			<li>При отриманні товару в нашому магазині - оплата готівкою або банківською картою «Visa / MasterCard»;</li>
			<li>Попередньо оплативши товар (замовлення) за допомогою банківської карти «Visa / MasterCard», після підтвердження товара (замовлення) менеджером інтернет-магазину.</li>
	</ul>
</div>
<div class="design">
	<h4>* При попередній оплаті банківською картою «Visa / MasterCard», Вам надається знижка в розмірі 5%, від вартість товару (замовлення).</h4>
	<h4>** Оплачуючи банківською картою «Visa / MasterCard», важливо вказати в «Призначення платежу»:</h4>
	<h4>• Номер Вашого замовлення;</h4>
	<h4>• ПІБ - на кого був оформлений замовлення.</h4>
	<h4>Якщо інформація не зазначена, магазин залишає за собою право не надати знижку за даною пропозицією.</h4>
</div>
{% endblock content %}
