*{
	margin:0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
}
a {
	text-decoration: none;
	color: white;
}

/* Header */

header {
	height: 510px;
	width: 100%;
	background-image: url(../../static/icon/wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.name {	
	text-align: center;
	color: white;
	display: flex;	
}
.title_name {
	margin-left: 108px;
	margin-top: 120px;
	width: 90%;
}
.icon_name {
	width: 10%;
	display: block;
}
.icon_name img {
	height: 70px;
	padding-top: 50px;
	width: 70px;
}
.name hr {
	width: 10%; 
	margin: 0 45% 0 45%;
}
.name h1 {
	font-weight: 700;
	font-size: 85px;
	margin-bottom: 10px;
}
.name h2 {
	font-weight: 700;
	font-size: 30px;
	margin-top: 10px;
}

.header_upper {
	width: 100%;
	height: 40px;
	font-weight: 200;
	font-size: 14px;
	display: flex;
	color: #a4a5a6;
}

.header_left{
	display: inline-flex;
	float: left;
	width: 85%;
	justify-content: left;
	margin-left: 15px;
	margin-top: 15px;
}
.phone_number {
	padding-left: 6px;
	padding-right: 15px;
	height: 20px;
    border-right: 1px solid #8c8c8c;
}
.header_right{
	display: flex;
	justify-content: flex-end;
	width: 15%;	
	margin-top: 15px;
	margin-right: 15px;
}

.free {
	padding-left: 15px;
}
.header_right img {
	height: 23px;
	width: 23px;
}
.header_right a {
	margin-left: 10px;
}

.header_left img {
	height: 18px;
	width: 18px;
}







/* End of header*/

/* Catalog */

.catalog {
	width: 100%;
	height: 188px;
	background: #0494d9;
	color: white;
}
.title_catalog {
	
	padding-top: 28px;
	font-weight: 700;
	font-size: 28px;
	text-align: center;

}
.category_catalog {
	font-weight: 200;
	padding-top: 30px;
	padding-right: 40px;
	display:flex;
	justify-content: center;
}

.catalog li{
  display:inline;
  padding: 0 20px 0 20px;
  font-size: 20px;
  list-style-type : none;
  font-weight: 300;
}

.catalog img {
	padding-left: 20px;
	padding-top: 4px;
	height: 20px;
	width: 20px;
}

.by {
	font-weight: 800;
}

/* End of catalog */

/* About Us */
.about_us {
	width: 100%;
	height: 530px;
	background: #eeeeee;
}
.title_about_us {
	text-align: center;
	height: 150px;
	padding-top: 60px;
}
.title_about_us h1 {
	font-size: 65px;
	font-weight: 900;
	color: #262b2e;
}
.title_about_us p {
	font-size: 35px;
	font-weight: 200;
}

.info_about_us{
	width: 100%;	
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
}

.info_about_us h2 {
	font-weight: 600;
	font-size: 45px;
}
.info_about_us p {
	font-size: 15px;
	font-weight: 500;
}
.number,
.price,
.quality,
.charity{
	width: 500px;
	height: 150px;
}
.info_about_us h3 {
	opacity: 0.2;
	height: 1px;
	font-weight: 700;
	font-size: 125px;
	margin-bottom: 30px;	
	margin-left: 10px;
}
	

/* Contacts */
.contacts {
	width: 100%;
	height: 527px;
	background: #eeeeee;
}
.contacts hr {
	width: 50px;
	border: 0.5px solid black;
	margin: 0 auto 65px;
}
.contacts_title {
	font-size: 65px;
	font-weight: 900;
	text-align: center;
	color: #262b2e;
	margin-bottom: 5px;
	padding-top: 40px
}
.contacts_info {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	text-align: center;
}
.contacts_info h2 {
	font-size: 50px;
	font-weight: 400;
}
.contacts_info p {
	font-size: 25px;
	font-weight: 300;
}
.contacts_email img {
	margin-top: 30px;
	height: 100px;
	width: 150px;
}
.contacts_telephone img {
	height: 150px;
	width: 115px;
}
.contacts_location img {
	margin-top: 10px;
	height: 130px;
	width: 135px;
}
.contacts_location .img {
	height: 150px;
}
.contacts_email .img {
	height: 150px;
}
.contacts_email,
.contacts_telephone,
.contacts_location {
	padding: 0 74px 0 74px;
}


/* Footer */

footer {
	background: #0494d9;
	height: 95px;
	width: 100%;

}

.first_info img,
.second_info img,
.img_app_first,
.fourth_info img {
	height: 49px;
	width: 49px;
	float: left;
	margin-right: 15px;
}
.footer_info {
	width: 100%;
	display: inline-flex;
	color: white;
	font-size: 13px;
	justify-content: space-between;
}
.footer_info_text{
	float: right;
}
.footer_info_text_big {
	font-weight: 600;
}
.footer_info_text_small {
	font-weight: 300;
	
}
.img_app {
	height: 15px;
	width: 14px;
}
.first_info,
.second_info,
.third_info,
.fourth_info {
	padding: 21px 45px 21px 45px;
}

.footer {
	height: 192px;
	width: 100%;
	background: #2f2f2f;
	display: inline-flex;
	color: white;
	justify-content: space-between;

}
.company {
	height: 100px;
	width: 260px;
	margin-left: 26px;
	margin-top: 27px;
}
.information{
	height: 100px;
	width: 260px;
	margin-top: 27px;
}
.company h2,
.information h2 {
	font-weight: 700;
	font-size: 14px;
}
.company p {
	font-weight: 300;
	font-size: 16px;
	color: #a4a5a6;
}
.footer li {
	list-style-type : none;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 29px;
}
footer hr {
	margin-bottom: 24px;
	margin-top: 6px;
	opacity: 0.3;	
}
.about_us_footer {
	margin-top: 27px;
	font-size: 16px;
	font-weight: 300;
	height: 1px;
	width: 650px;
	color: #a4a5a6;
	text-align: justify;
	margin-right: 26px;
}


/* Map */

#map {
	width: 100%;
	height: 500px;
}

/* Slider */
.slider {
	--color-1: #9e9e9e;
	--color-2: #8c8c8c;
	
	position: relative;
	overflow: hidden;
}
.slider__arrow {
	position: absolute;
	top: 50%;
	margin: -10px;
	z-index: 1;
	outline: none;
}

.slider__arrow::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border: solid var(--color-1);
	border-width: 2px 2px 0 0;
}

.slider__arrow:hover::before,
.slider__arrow:focus::before{
	border-color: var(--color-2);
}

.slider__arrow_left {
	left: 50px;
	transform: rotate(-135deg);
}

.slider__arrow_right {
	right: 50px;
	transform: rotate(45deg);
}

.slider__slide {
	display: none;
	max-width: 100%;
}

.slider__slide_active {
	display: block;
}

.slider__dots {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform:  translateX(-50%);
	z-index: 1;
}

.slider__dot {
	display: inline-block;
	margin: 0 10px;
	width: 10px;
	height: 10px;
	border: 2px solid var(--color-1);
	border-radius: 50%;
	outline: none;
}

.slider__dot:hover,
.slider__dot:focus{
	border-color: var(--color-2);
}

.slider__dot_active {
	background-color: var(--color-1); 
}

.slider__dot_active:hover,
.slider__dot_active:focus{
	border-color: transparent;
	background-color: var(--color-2)
}